* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}


header {
    
    background-color: #262630;
    height: 750px;
   
}

nav ul {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    padding: 50px 100px;
}

nav li a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.logo {

    position: relative;
    width: 62%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 57px;

}

.logo h1 {

    color: #fff;
    font-weight: 600;
    font-size: 100px;

}

.highlight {

    color: #d54548;
}

small {

    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 95px;
    left: 300px;

}

p {

    color: #fff;

}

.intro {

    font-size: 30px;

}

.promo {

    font-size: 57px;

}

.hero-text {

    width: 62%;
    margin: auto;

}

.yellow-glow {

    color: #f0d30b;
    font-weight: 530; 
    text-shadow: 0 0 12px #f0d30b;
    

}


    .btn:active { 
      transform: scale(0.97); 
    }

    .btn-gold    { 
      background: #f0d30b;   
      color: #262630;
      padding: 0.3rem 2.9rem;
      box-shadow: 0 0 20px #726407; 
    }


    .btn-red     { 
      background: #d54548;    
      color: #262630;
      padding: 0.3rem 3.5rem;
      box-shadow: 0 0 20px #4e1314;
      
    }

    .btn-outline { 
      background: transparent;  
      color: #fff; 
      border: 2px solid #fff !important;
      padding: 0.3rem 0.9rem;
      box-shadow: 0 0 10px #262630;
    }

     .btn-charcoal { 
      background: #262630;  
      color: #fff; 
      border: 2px solid #262630 !important;
      padding: 0.3rem 2rem;
      box-shadow: 0 0 10px #262630;
    }


 .hero-cta {
    margin-top: 75px !important;
    margin-bottom: 20px !important;
    margin: auto;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 62%;
 }


    .btn {
      display: inline-block;    
      border-radius: 30px;
      font-weight: 600;
      font-size: 1.5rem;
      border: none;
      cursor: pointer;
      transition: transform 0.25s;
      text-decoration: none !important;
      text-align: center;
    }



/*=============PRODUCTS==================*/

/*=======================================*/

.products-head-text {

    position: relative;
    width: 62%;
    margin: auto;
    margin-bottom: 57px;

}

.products-head-text h1 {

    color: #d54548;
    font-weight: 600;
    font-size: 100px;

}

.products-head-text .products-text {

    color: #262630;
    position: absolute;
    font-size: 26px;
    font-weight: 600;
    top: 95px;
    left: 2.5px;
    
}

.products-mid-content {

    width: 62%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 27px;
    display: flex;
    gap: 100px;
    align-items: start;
    
}

.products-tab--box {

    position: relative;
    


}

 .tabs {

    display: flex;
    align-items: center;
    z-index: -1;

}

.products-tab--box .tabs .tab {

    width: 130px;
    height: 100px;
    padding-top: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
    color: #262630;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.products-tab--box .tabs .tab:hover,
.products-tab--box .tabs .tab.active {
    background-color: #262630;
    color: #fff;
}

.product-card {

    position: absolute;
    top: 35px;
    width: 520px;
    height: 260px;
    background: #262630;
    border-radius: 20px;
    padding: 40px 20px;
    color: #fff;
    font-size: 25px;

}

 .products-cta {
    
    
    margin: auto;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 62%;
 }

.products-box {

    /* height removed to allow content to determine height */
    padding-bottom: 110px;
    padding-top: 50px;

}



/*============PRICING============*/

#pricing-section {
    
    background-color: #262630;

}

.container-pricing {
    width: 62%;
    margin: 0 auto 0 auto;

}


.pricing-box {

   padding-top: 100px;

}

.container-pricing {

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.pricing-box h1 {

    color: #fff;
    font-weight: 600;
    font-size: 100px;

}

.pricing-box .price {

    font-weight: 400;

}


.pricing-box-gold {

    color: #fff;
    padding-top: 30px;
    padding-bottom: 120px;

}

.pricing-box-gold .price {

    font-size: 100px;
    font-weight: 400;
    color: #f0d30b;
}

.p-bigger {

    font-size: 60px;
    font-weight: 100;

}

 p {

    font-size: 30px;

}



